<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Foods & Drinks</title>
</head>
<body>
  <h2>Available recipes:</h2>
  
  <ul>
    <li th:each="food: ${foods}">
        <a th:href="@{~/food/{id}(id=${food.id})}" th:text="${food.name}">1</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="createsmoothie">Create a new recipe</a>
    </li>
    <li>
      <a href="ingredients">Add or inspect ingredients</a>
    </li>
  </ul>
</body>
</html>
