<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Smoothiet</title>
  <meta charset="UTF-8">
</head>
<body>
  <h2>Smoothielista</h2>
  
  <ul>
    <li th:each="food: ${foods}">
        <a th:href="@{~/food/{id}(id=${food.id})}" th:text="${food.name}">1</a>
    </li>
  </ul>

  <ul>
    <li>
      <a href="createsmoothie">Luo uusi smoothie</a>
    </li>
    <li>
      <a href="ingredients">Tarkastele ja lisää aineksia</a>
    </li>
  </ul>
</body>
</html>
